{% extends "B2MainBundle::site-main.html.twig" %}

{% block head %}

{% endblock %}

{% block title %} Main Bundle {% endblock %}

{% block body %}
    <div class="page-header">
        {% block content %}{% endblock %}
    </div>

{% endblock %}