{% extends "B2MainBundle::site-main.html.twig" %}

{% block head %}

    <link rel="stylesheet" href="{{ asset('/css/main.css') }}" />
{% endblock %}

{% block title 'Main Bundle' %}

{% block body %}
    <div class="page-header">
        {% block content %}{% endblock %}
    </div>

{% endblock %}