
<div class="form-element">
    <label for="comparenumber_numberMin">Minimum Number</label>
<input class="form-control" type="text" id="comparenumber_numberMin" name="comparenumber[numberMin]" value="{{questionType.numberMin}}"/>
</div>
<div class="form-element">
    <label for="QuestionSet_numberMax">Maximum Number</label>
<input class="form-control" type="text" id="comparenumber_numberMax" name="comparenumber[numberMax]" value="{{questionType.numberMax}}"/>
</div>

