<div><label for="comparenumber_numberMin">Minimum Number</label>
<input type="text" id="comparenumber_numberMin" name="comparenumber[numberMin]" value="{{questionType.numberMin}}"/></div>
<div><label for="QuestionSet_numberMax">Maximum Number</label>
<input type="text" id="comparenumber_numberMax" name="comparenumber[numberMax]" value="{{questionType.numberMax}}"/></div>

