@import "../../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "variables.less";

//Zither Custom Style

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

.content-container {
  padding-top: 20px;
}

.form-signin {
  max-width: 330px;
  margin: 0 auto;

  .form-element {
    padding-top: 15px;

    ul {
      padding-left: 0px;

      li {
        list-style: none;
        color: @brand-danger;
        font-size: ceil(@font-size-base * 0.78);
      }
    }
  }
}

.form-question-set {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;

  .form-element {
    padding-top: 15px;
  }

  input[type='submit'] {
    width: 150px;
  }
}

.result-summary {
  padding: 20px;
}

.worksheet-summary {

  margin: 0px auto;
  width: 100%;
  padding-left: 40px;

  .panel-default {
    width: 500px;
    float: left;
    margin: 0 10px 10px 0px;
  }
}

.content {
  padding-top: 20px;

  .lead {
    font-size: ceil(@font-size-base * 1.32);
  }
}

#accordion1{
  width:45%;
  float: left;
}

#accordion2{
  width:45%;
  float: left;
}

.welcome-text {
  color: #ffffff;
  padding-top: 15px;
  font-size: 16px;
  float: right;
}


.question-panel {
  padding: 20px;

  h3 {
    font-size: ceil(@font-size-base * 1.20);
  }

  h4 {
    font-size: ceil(@font-size-base * 1.10);
  }
}
.question-worksheet {
  padding: 15px;

  .cl {
    clear: both;
  }

  .worksheetStyle {
    margin: 10px;
    float: left;

    span{
      font-size: ceil(@font-size-base * 1.30);
      margin: 10px 5px;
    }
  }
}

.blue-input {
  background-color: #EDF3F5;
  width: 90px;
  text-align: center;
  border: 1px solid #ccc;
}

.gray-input {
  background-color: #e8e7e6;
  width: 90px;
  text-align: center;
  border: 1px solid #ccc;
}