@import "../../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "variables.less";

//Zither Custom Style

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.login-form {
  padding: 20px
}